{% extends 'viewcards/base.html' %}

{% block content %}
    <style type="text/css">
      body {
        background-color: rgb(226, 232, 240);
      }
      label {
/*-webkit-perspective: 1000px;
perspective: 1000px;*/
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
display: block;
width: 300px;
height: 200px;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  padding-top: 75px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .back {
  background: #222;
  color: #FFF;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
.card {
  font-size: 25px;
}
</style>

<script type="text/javascript">
  let tmp = 0;
  let wordsOrigin = {{ words|safe }}
  let words  = wordsOrigin.sort((a, b) => 0.5 - Math.random());
  {% comment %} let words = wordsOrigin; {% endcomment %}
  let endtmp = words.length;
  let translations = new Map({{ translates|safe }});
  function changeWord(){
    if($("#checkID").is(':checked')){
     $( "#checkID" ).click();
   }

   let a = words[tmp];
   $(".front").text(a);
   setTimeout(
    function() 
    {
      let b = translations.get(a);
      $(".back").text(b);
    }, 400);

   if (tmp<endtmp-1){
    tmp++;
  }
  else{
    tmp=0
  }
  console.log(tmp);
  console.log(endtmp);
}
function changeBack(){
  if($("#checkID").is(':checked')){
    $( "#checkID" ).click();
  }
  if (tmp>=2){
    tmp = tmp-2
  }
  else{
    tmp= endtmp+tmp-2
  }
  let a = words[tmp]
   $(".front").text(a);
   setTimeout(
    function() 
    {
      let b = translations.get(a);
      $(".back").text(b);
    }, 400);

    if (tmp<endtmp-1){
      tmp++;
    }
    else{
      tmp=0
    }
  console.log(tmp);
  console.log(endtmp);
}


</script>



  <div class='container text-center mt-3'>
    <h1>{% block title %} {% endblock %} {{ title }}</h1>
   
  </div>
  <div class="container">
    <label>
      <input type="checkbox" id='checkID'  />
      <div class="card">
        <div class="front">Front</div>
        <div class="back">Back</div>
      </div>
      <button type="button" class="btn btn-outline-dark mt-5" style='width: 18%;' onclick="changeBack();"><</button>
      <button type="button" class="btn btn-outline-dark mt-5" style='width: 79%;' onclick="changeWord();">Next</button>
    </label>

  </div>
  <div class="container">
    

  </div>
  

{% endblock %}